body{
  background-image: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}
.container-fluid{
  width: 100%
}
nav{
  z-index:100;
  margin: auto;
}
/* Navbar style */
.navbar{
  padding: 0;
  margin: 0;
}
.navbar-header{
  padding-top: 5px;
}
.nav-link{
  color: white;}

  .navbar-header{
    padding: 0;
    height: 70px;
  }
  .nav-link{
    padding: 30px 0;
    color:black;
    font-size: 25px;
  }
  .navbar-nav{
    padding-left: 5em;
    font-size: 1.1em;
    font-weight: 200;
  }
  .nav-link:hover{
    background-color: #b30000;
    color: black;
  }
.dropdown-menu{
  background-color: #800000;
  border-right: 1px solid black;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  border-radius:0;
 }
 .dropdown-item{
   color: white;
 }
 .dropdown-item:hover{
   color: white;
   background-color: #072F54;
 }

 .ec1{
   width: 100%;
   top:0;
   position: fixed;
   z-index:1000;
   background-image:url(../img/739916-awesome-background-images.jpg) ;
   margin: 0;
 }
.btn{
  border-radius: 0;
}
.icon{
  background-color: #333333;
  padding: 5px 5px 5px 0;
}
.form-control, .icon{
  border: none;
  box-shadow: none;
  border-radius: 0;
}
input[type=search]{
  background-color: #333333;
}
input[type=search]:focus{
  background-color: #333333;
}

@media all and (max-width: 1322px){

  .navbar-header{
    padding: 0;
    height: 100px;
  }
  .nav-link{
    padding: 5px;
  }
  .nav-link:hover{
    background-color: #b30000;

  }
  .blocLienFooter{
    padding-left: 0;
  }
}
.nv2{
  position: fixed
}
.form-inline{
  margin-left: 670px;
}
/*css contenu audrey*/
#audrey{
  padding-top: 110px;
}
.imgcoque{
  padding-top: 10px;
  display: flex;
  margin: auto;
}
/*fin css contenu audrey*/
